/**
 *  Basket component.
 *
 *  @author: danielmoffat
 */

.basket {
  margin: 0;
  padding: 10px 20px;
  color: #FFF;
}

.basket__summary {

}

.basket__summary__title {
  margin-bottom: 0;
}

.basket__summary__count {
  background-color: #595959;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
}
